@import "src/style/common";

.swiper_block {
  height: vwPC(771);
  background: $pink;
  scroll-snap-align: start;
  padding-top: vwPC(62);
  position: relative;
  overflow-x: clip;

  @include phone-down() {
    height: vwMB(281);
    padding-top: vwMB(19);
  }

  .video_block {
    margin-left: auto;
    margin-right: auto;
    width: vwPC(813);
    height: vwPC(455);
    background: #BCB7B7;
    border: vwPC(3) solid #000000;
    border-radius: vwPC(63);

    @include phone-down() {
      width: vwMB(259);
      height: vwMB(145);
      border-radius: vwMB(17);
      border: vwMB(1) solid #000000;
    }
  }

  .button_yellow {
    margin-top: vwPC(22);
    margin-left: vwPC(313);
    position: relative;
    cursor: pointer;
    background: transparent;
    border: none;
    display: block;

    @include phone-down() {
      margin-top: vwMB(16.91);
      margin-left: vwMB(50.32);
    }

    img {
      width: vwPC(165.86);
      height: vwPC(84.57);

      @include phone-down() {
        width: vwMB(63.25);
        height: vwMB(32.28);
      }
    }

    .text {
      position: absolute;
      pointer-events: none;
      top: 50%;
      left: 50%;
      color: #000000;
      transform: translate(-50%, -50%);
      transition: all 0.2s ease-out;
      font-family: 'Yanone Kaffeesatz';
      font-style: normal;
      font-weight: 400;
      font-size: vwPC(65);
      line-height: vwPC(65);
      text-align: center;

      @include phone-down() {
        font-size: vwMB(20);
        line-height: vwMB(20);
      }
    }
  }

  .button_while {
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: vwPC(313);
    margin-top: vwPC(9.43);

    @include phone-down() {
      margin-left: vwMB(50.32);
      margin-top: vwMB(3.5);
    }

    img {
      width: vwPC(165.86);
      height: vwPC(84.57);

      @include phone-down() {
        width: vwMB(63.25);
        height: vwMB(32.28);
      }
    }

    .text {
      transition: all 0.2s ease-out;
      pointer-events: none;
      position: absolute;
      left: 50%;
      top: 47%;
      transform: translate(-50%, -50%);
      width: 16vw;
      font-family: 'Yanone Kaffeesatz';
      font-style: normal;
      font-weight: 500;
      font-size: vwPC(28);
      line-height: vwPC(30);
      text-align: center;
      text-transform: uppercase;
      color: #EB627E;

      @include phone-down() {
        font-size: vwMB(11);
        line-height: vwMB(12);
      }
    }
  }

  .pears {
    pointer-events: none;
    position: absolute;
    left: vwPC(226);
    z-index: 2;
    bottom: vwPC(94);
    width: vwPC(132);
    height: vwPC(264);
    transition: all 0.5s ease-out;
    opacity: 0;
    display: block;

    @include phone-down() {
      display: none;
    }
  }

  .pears_mobile {
    display: none;

    @include phone-down() {
      display: block;
      position: absolute;
      width: vwMB(50.5);
      height: vwMB(100.59);
      left: vwMB(23);
      z-index: 2;
      bottom: vwMB(50.55);
      transition: all 0.5s ease-out;
      opacity: 0;
    }
  }

  .crazy {
    pointer-events: none;
    width: vwPC(226);
    height: vwPC(351);
    position: absolute;
    bottom: vwPC(10);
    left: vwPC(396);
    z-index: 5;
    transition: all 0.5s ease-out;
    opacity: 0;

    @include phone-down() {
      width: vwMB(80);
      height: vwMB(124.61);
      left: vwMB(93);
      bottom: vwMB(16.01);
    }
  }

  .lazy_show {
    width: vwPC(328);
    height: vwPC(226);
    position: absolute;
    bottom: vwPC(81);
    right: vwPC(226);
    cursor: pointer;
    z-index: 2;

    @include phone-down() {
      width: vwMB(131.75);
      height: vwMB(90.83);
      left: vwMB(190);
      bottom: vwMB(16);
    }
  }

  .crazy_union {
    width: vwPC(415.29);
    height: vwPC(293);
    position: absolute;
    right: vwPC(44.71);
    bottom: vwPC(226);
    transition: all 0.5s ease-out;
    opacity: 0;

    @include phone-down() {
      width: vwMB(123);
      height: vwMB(86.95);
      left: vwMB(230);
      bottom: vwMB(77.06);
    }
  }

  .crazy_union_mobile {
    display: none;

    @include phone-down() {
      position: absolute;
      display: block;
      width: vwMB(123);
      height: vwMB(86.94);
      right: vwMB(12);
      bottom: vwMB(85.06);
      transition: all 0.5s ease-out;
    }
  }

  .crazy_2 {
    cursor: pointer;
    position: absolute;
    left: vwPC(829);
    bottom: vwPC(26);
    width: vwPC(322);
    height: vwPC(334);
    z-index: 2;

    @include phone-down() {
      width: vwMB(110);
      height: vwMB(115);
      left: vwMB(182);
      bottom: vwMB(10);
    }
  }

  .crazy_2_union {
    width: vwPC(415.29);
    height: vwPC(293);
    position: absolute;
    bottom: vwPC(226);
    right: vwPC(44.71);
    opacity: 0;
    transition: all 0.5s ease-out;
    display: block;

    @include phone-down() {
      display: none;
      width: vwMB(123);
      height: vwMB(86.94);
      right: vwMB(12);
      bottom: vwMB(85.06);
    }
  }

  .points {
    position: absolute;
    height: vwPC(16.56);
    width: vwPC(117.25);
    left: 50%;
    bottom: vwPC(209.44);
    transform: translate(-50%, 0);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include phone-down() {
      width: vwMB(34);
      height: vwMB(5.31);
      bottom: vwMB(99.69);
    }

    .point {
      cursor: pointer;
      width: vwPC(16.56);
      height: vwPC(16.56);
      border-radius: 50%;
      background: #FFFFFF;
      border: solid vwPC(3) #000000;

      @include phone-down() {
        width: vwMB(5.31);
        height: vwMB(5.31);
        border: vwMB(1) solid #000000;
        transform: matrix(1, 0, 0, -1, 0, 0);
      }
    }

    .active_point {
      background: #F3CC00;
    }
  }

  .crazy_3 {
    width: vwPC(290);
    height: vwPC(417);
    position: absolute;
    bottom: vwPC(26);
    left: vwPC(826);
    cursor: pointer;
    z-index: 3;

    @include phone-down() {
      width: vwMB(97);
      height: vwMB(139);
      left: vwMB(183);
      bottom: vwMB(20);
    }
  }

  .crazy_4 {
    width: vwPC(314);
    height: vwPC(338);
    position: absolute;
    left: vwPC(812);
    bottom: vwPC(34);
    cursor: pointer;
    z-index: 3;

    @include phone-down() {
      width: vwMB(107);
      height: vwMB(115);
      left: vwMB(185);
      bottom: vwMB(23);
    }
  }

  .union_show {
    opacity: 1;
    transition: all 0.5s ease-out;
  }

  .animatin_common {
    transition: all 0.5s ease-out;
    opacity: 1;
  }

  .animation_start {
      animation: start 0.3s ease-out;
      animation-fill-mode: forwards;
  }

  .first_animation_end {
    animation: endFirst 0.1s ease-out;
    animation-fill-mode: forwards;
  }

  .union_scale {
    animation: scale_animation 0.2s ease-out;
    animation-fill-mode: forwards;
  }

  @keyframes endFirst {
    from {
      left: 51.042vw;
    }
    to {
      left: 100vw;
    }
  }

  @keyframes start {
    from {
      left: 29.33vw;
    }
  }
  @keyframes scale_animation {
    from {
      transform: scale(0.7);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
}