@import 'src/style/common';

.wrapper {
  background: $pink;

  .black_block {
    position: relative;

    .background_black {
      width: 100%;

      @include desktop-large-down() {
        height: 1000px;
      }

      @include desktop-down() {
        height: 900px;
      }
    }

    .logo_wrapper {
      position: absolute;
      max-width: 1440px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;
      top: 0;

      .fruits {
        position: absolute;
        width: 451px;
        height: 649px;
        right: 112px;
        top: 192px;

        @include desktop-down() {
          right: 10px;
          width: 400px;
          height: 550px;
        }

        @include laptop-down() {
          right: 46px;
          width: 300px;
          top: 171px;
          height: 400px;
        }

        @include tablet-down() {
          right: 60px;
          width: 200px;
          top: 125px;
          height: 300px;
        }
      }

      .logo_subword {
        position: absolute;
        left: 173px;
        cursor: pointer;
        width: 480px;
        height: 159px;
        transition: all 0.3s;

        &:hover {
          transform: scale(1.1);
        }

        @include desktop-down() {
          width: 450px;
          height: 140px;
        }

        @include laptop-down() {
          width: 300px;
          height: 130px;
        }
      }

    }

    .pink_block {
      max-width: 1440px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding-top: 43px;
      padding-bottom: 69px;

      .energy {
        position: absolute;
        right: 0;
        top: 43px;

        @include media-down(1350px) {
          display: none;
        }
      }

      .coffe {
        position: absolute;
        left: 0;
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));

        @include media-down(1350px) {
          display: none;
        }
      }

      .vitamin_b {
        position: absolute;
        top: 333px;
        left: 10px;
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
        z-index: 2;

        @include media-down(1350px) {
          display: none;
        }
      }

      .taurin {
        position: absolute;
        right: 20px;
        bottom: -22px;
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));

        @include media-down(1350px) {
          display: none;
        }
      }

      .text {
        width: 955px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        color: $white;
        font-weight: 400;
        font-size: rem(56);
        line-height: 66px;
        position: relative;

        b {
          font-weight: 700;
        }

        .smile {
          position: absolute;
          top: 58px;
          right: 19px;
        }

        .text_description {
          margin-top: 20px;
          position: relative;

          .fruits_text {
            position: absolute;
            top: 56px;
            left: 202px;
            width: 218px;
          }

          .empty_span {
            width: 228px;
            display: inline-block;
          }

          .last_string {
            display: flex;
            position: relative;

            .smile_two {
              position: absolute;
              top: -8px;
            }

            .empty_span {
              width: 135px;
            }

            .btn {
              border-radius: 37px;
              height: 63px;
              width: 437px;
              background: #FDC400;
              color: $white;
              cursor: pointer;
              border: none;
              display: flex;
              justify-content: center;
              align-items: center;

              &:hover {
                box-sizing: border-box;
                border: solid 3px #FDC400;
                background: #EB627E;
              }
            }
          }

        }
      }
    }
  }
}