@import 'src/style/common';

.wrapper_logo {
  background: $pink;
  position: relative;

  .background_black {
    width: 100vw;
    height: 60vw;

    @include phone-down() {
      height: 85vw;
    }
  }

  .logo {
    position: absolute;
    top: 0;
    width: 93vw;
    display: none;

    @include phone-down() {
      display: block;
    }
  }

  .logo_pc {
    display: block;
    position: absolute;
    top:0;
    left: 0;
    width: 92.5vw;
    height: 43.61vw;

    @include phone-down() {
      display: none;
    }
  }

  .logo_subword {
    width: 33vw;
    position: absolute;
    left: 11.4vw;
    top: 46vw;
    display: none;

    @include phone-down() {
      top: 54vw;
      display: block;
    }
  }
}

.wrapper_pink {
  background: $pink;
  padding-top: 15px;
  position: relative;
  margin-top: -2px;

  .energy {
    position: absolute;
    right: 0;
    top: 2.99vw;
    width: 12.86vw;
    height: 8.06vw;

    @include laptop-down() {
      display: block;
      top: 14.72vw;
      width: 13.67vw;
      height: 8.89vw;
    }
  }

  .vitamin_b {
    position: absolute;
    width: 14.24vw;
    height: 14.24vw;
    left: 1.39vw;
    bottom: 0;
    transform: translate(0, 50%) rotate(-16.28deg);
    z-index: 7;

    @include laptop-down() {
      display: block;
      width: 18.056vw;
      height: 18.056vw;
      left: 2.78vw;
      transform: translate(0, 10%) rotate(-16.28deg);
    }
  }

  .taurin {
    width: 10.83vw;
    height: 10.83vw;
    position: absolute;
    bottom: 0;
    right: 1.18vw;
    transform: translate(0, 13%) rotate(5.33deg);

    @include laptop-down() {
      display: block;
      width: 13.33vw;
      height: 13.33vw;
      bottom: 8.89vw;
      right: 9.72vw;
    }
  }

  .coffe {
    position: absolute;
    width: 11.6vw;
    height: 11.6vw;
    top: 98px;
    left: 15px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    transform: rotate(60.95deg);

    @include media-down(1375px) {
      display: none;
    }

    @include laptop-down() {
      display: block;
      top: 17.22vw;
      left: -4.17vw;
      width: 16.67vw;
      height: 16.67vw;
    }
  }

  .text {
    display: block;
    margin: 0 auto;
    background: $pink;
    width: 67.71vw;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: $white;
    font-weight: 400;
    font-size: 4.03vw;
    line-height: 4.58vw;
    position: relative;
    padding-bottom: 4.17vw;

    @include laptop-down() {
      display: none;
    }


    b {
      font-weight: 700;
    }

    .smile {
      display: inline-block;
      width: 6.46vw;
      height: 4.31vw;
    }

    .text_description {
      margin-top: 1.39vw;
      position: relative;

      .fruits_text {
        position: absolute;
        top: 3.89vw;
        left: 14.03vw;
        width: 15.14vw;
      }

      .empty_span {
        width: 15.83vw;
        display: inline-block;
      }

      .last_string {
        display: flex;
        position: relative;

        .smile_two {
          position: absolute;
          top: -0.56vw;
          width: 8.96vw;
          height: 4.24vw;

          @include phone-down() {
            width: 13.06vw;
            height: 5.28vw;
          }
        }

        .empty_span {
          width: 9.375vw;
        }

        .btn {
          border-radius: 2.57vw;
          height: 4.375vw;
          width: 30.35vw;
          background: #FDC400;
          color: $white;
          cursor: pointer;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            box-sizing: border-box;
            border: solid 0.21vw #FDC400;
            background: #EB627E;
          }
        }
      }

    }
  }

  .text_mobile {
    display: none;
    margin: 0 auto;
    background: $pink;
    color: $white;
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    //font-size: 16px;
    font-size: 4.44vw;
    line-height: 5vw;
    width: 56.94vw;
    padding-bottom: 12.5vw;

    @include laptop-down() {
      display: block;
    }

    b {
      font-weight: 700;
    }

    .smile {
      display: inline-block;
      width: 8.89vw;
      height: 5.83vw;
    }

    .text_description {
      margin-top: 5.56vw;
      position: relative;

      .fruits_text {
        display: inline-block;
        width: 15vw;
        height: 4.44vw;
      }

      .empty_span {
        width: 63.33vw;
        display: inline-block;
      }

      .last_string {
        margin-top: 5.56vw;

        .smile_two {
          display: inline-block;
          width: 13.06vw;
          height: 3.89vw;
        }
      }
    }
  }

}
