@import "src/style/common";

.wrapper {
  background: $yellow;
  position: relative;

  .orange_wave {
    position: relative;
    width: 100vw;
    margin-top: -22.292vw;
  }

  .yellow_bottle {
    position: absolute;
    z-index: 5;
    left: 3.2vw;
    top: 11.32vw;
    width: 27.57vw;
    height: 61.33vw;
  }

  .energy {
    position: absolute;
    width: 15vw;
    height: 8.89vw;
    top: 68vw;
    left: -1.74vw;
    z-index: 5;
  }

  .pineapple_linchi {
    position: absolute;
    bottom: 25vw;
    left: 42.53vw;
    width: 28vw;
    height: 16.67vw;
    z-index: 5;
  }

  .berry {
    position: absolute;
    bottom: 29.86vw;
    right: 3.4vw;
    width: 6.46vw;
    height: 7.43vw;
  }

  .crazy_linch {
    width: 25.2vw;
    height: 39.24vw;
    position: absolute;
    bottom: 25.81vw;
    left: 19.74vw;
    cursor: pointer;
    z-index: 5;
  }

  .yellow_spray {
    position: absolute;
    top: 10.486vw;
    left: 33.194vw;
    z-index: 4;
    width: 7.014vw;
    height: 11.73vw;
  }

  .union {
    position: absolute;
    left: 36.46vw;
    top: 9.37vw;
    width: 37.7vw;
    height: 29.61vw;
    z-index: 4;
    transition: all 0.5s ease-out;
    opacity: 0;

    @include phone-down() {
      opacity: 1;
      width: 53.96vw;
      height: 42.3vw;
    }
  }

  .union_show {
    transition: all 0.5s ease-out;
    width: 53.96vw;
    height: 42.3vw;
    opacity: 1;
  }

  .linch_animation {
/*    animation: up 4s ease-out;
    animation-fill-mode: forwards;*/
  }
}


@keyframes up {
  from {
    bottom: 10vw;
  }
  to {
    bottom: 25.81vw;
  }
}
