@import 'src/style/common';

.wrapper {
  background: $yellow;
  margin-top: -2px;
  height: 39.4vw;
  position: relative;

  .bottle {
    position: absolute;
    top: -29.65vw;
    right: 0.97vw;
    width: 29.17vw;
    height: 63.89vw;
  }

  .spray_left {
    position: absolute;
    top: -15.83vw;
    left: 6.25vw;
    width: 8.89vw;
    height: 7.92vw;
  }

  .spray_right {
    position: absolute;
    right: 0;
    top: -16.94vw;
    width: 5.97vw;
    height: 7.5vw;
  }

  .melon_half {
    position: absolute;
  }

  .lazy_people {
    cursor: pointer;
    position: absolute;
    right: 26.67vw;
    width: 31.39vw;
    height: 28.4vw;
  }

  .melon_text {
    position: absolute;
    bottom: 1.32vw;
    left: 11.6vw;
    width: 26.8vw;
    height: 16.25vw;
  }

  .melon_2 {
    position: absolute;
    left: 5.14vw;
    bottom: 11.74vw;
    width: 10.97vw;
    height: 7.43vw;
  }

  .melon_half {
    position: absolute;
    bottom: 15.49vw;
    left: 0;
    width: 10.9vw;
    height: 11.67vw;
  }

  .union_eat {
    position: absolute;
    left: 9.65vw;
    bottom: 22.57vw;
    width: 36.12vw;
    height: 23.814vw;
    transition: all 0.5s ease-out;
    opacity: 0;

    @include phone-down() {
      opacity: 1;
      width: 51.6vw;
      height: 34.02vw;
    }
  }

  .union_show {
    width: 51.6vw;
    height: 34.02vw;
    transition: all 0.5s ease-out;
    opacity: 1;
  }

  .cofe {
    width: 20.83vw;
    height: 20.83vw;
    position: absolute;
    top: -16.11vw;
    left: 52.18vw;
  }

  .lazy_animation {
    animation: up 3s ease-out;
    animation-fill-mode: forwards;
  }

  .union_animation {
    animation: upUnion 3s ease-out;
    animation-fill-mode: forwards;
  }

  @keyframes up {
    from {
      bottom: -5vw;
    }
    to {
      bottom: 2.29vw;
    }
  }
  @keyframes upUnion {
    from {
      bottom: 13.57vw;
    }
    to {
      bottom: 22.57vw;
    }
  }
}
