@import 'src/style/common';

.block {
  height: 68.75vw;
  background: $orange;
  position: relative;
  display: none;

  @include phone-down() {
    display: block;
    height: 151.667vw;
    overflow-x: clip;
  }

  .cafe {
    width: 18vw;
    height: 18vw;
    position: absolute;
    bottom: 0;
    right: 23vw;
    transform: rotate(24.83deg);
    z-index: 6;
    display: block;

    @include phone-down() {
      display: none;
    }
  }

  .energy_mobile {
    width: 15vw;
    height: 8.89vw;
    position: absolute;
    right: 12.944vw;
    bottom: 10vw;
    z-index: 5;
    display: block;

    @include phone-down() {
      display: none;
    }
  }

  .fruit_mobile {
    width: 26.39vw;
    height: 27.083vw;
    position: absolute;
    top: 16.944vw;
    right: 4.861vw;
    display: block;

    @include phone-down() {
      display: none;
    }
  }

  .fruit_mobile_left {
    display: none;
    position: absolute;
    top: -4.444vw;
    right: -4.444vw;
    width: 29.167vw;
    height: 129.722vw;
    z-index: 6;

    @include phone-down() {
      display: block;
    }
  }

  .fruilt_mobile_left_for_mobile {
    width: 19.167vw;
    height: 90.833vw;
    position: absolute;
    top: 4.444vw;
    left: -5.833vw;
    display: none;

    @include phone-down()   {
      display: block;
    }
  }


  .taurin {
    width: 13.68vw;
    height: 13.68vw;
    position: absolute;
    top: 7.917vw;
    left: -3.472vw;
    display: block;

    @include phone-down() {
      display: none;
    }
  }

  .vitamin_b {
    width: 11.111vw;
    height: 11.111vw;
    position: absolute;
    left: 6.736vw;
    top: -1.806vw;
    transform: rotate(-16.28deg);
    display: block;

    @include phone-down() {
      display: none;
    }
  }

  .mobilka {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 52.85vw;
    height: 29.72vw;
    transform: translate(-50%, -50%) rotate(90deg);
    background: #000000;
    border-radius: 4.375vw;
    display: block;

    @include phone-down() {
      display: none;
    }

    .relative {
      position: relative;

      .video_placeholder {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 5%);
        width: 50.208vw;
        height: 26.875vw;
        background: #BCB7B7;
        border-radius: 3.125vw;
        z-index: 5;
      }

      .eyebrow {
        position: absolute;
        left: -1.736vw;
        top: 13.89vw;
        width: 7.71vw;
        height: 1.737vw;
        background: #000000;
        border-radius: 0 0 0.868vw 0.868vw;
        transform: rotate(-90deg);
        z-index: 7;
      }

    }
  }

  .mobile_for_mobile {
    display: none;
    position: absolute;
    width: 70vw;
    height: 121.67vw;
    left: 50%;
    top: 16.94vw;
    transform: translate(-50%, 0);

    @include phone-down() {
      display: block;
    }
  }

  .people {
    position: absolute;
    width: 22.153vw;
    height: 39.514vw;
    left: 4.028vw;
    bottom: 4.167vw;
    cursor: pointer;

    @include phone-down() {
      width: 29.72vw;
      height: 52.5vw;
      left: 1.11vw;
      bottom: 2.5vw;
    }
  }

  .union {
    width: 24.653vw;
    height: 18.958vw;
    position: absolute;
    bottom: 31.111vw;
    left: 19.444vw;
    opacity: 0;
    transition: all 0.5s ease-out;

    @include phone-down() {
      width: 24.603vw;
      height: 18.778vw;
      left: 21.67vw;
      bottom: 42.889vw;
    }
  }

  .union_show {
    transition: all 0.5s ease-out;
    opacity: 1;
  }

  .union_text {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 500;
    font-size: 2.986vw;
    line-height: 3.056vw;
    text-align: center;
    text-transform: uppercase;
    color: #EB627E;
    position: absolute;
    bottom: 38.889vw;
    left: 25.694vw;
    opacity: 0;

    @include phone-down() {
      left: 28vw;
      bottom: 50.7vw;
    }
  }

  .union_text_show {
    opacity: 1;
  }

  .melon_1 {
    position: absolute;
  }
}

.show_block {
  display: block;
}