@import "src/style/common";

.black_line {
  height: 2.083vw;
  background: #000000;

  @include phone-down() {
    height: 2.778vw;
  }
}

.yellow_line_after_block {
  background: $yellow;
  height: 80px;
}