@import "src/style/common";

.black_line {
  height: vwPC(15);
  background: #000000;

  @include phone-down() {
    height: vwMB(10);
  }
}

.yellow_line_after_block {
  background: $yellow;
  height: 80px;
}