@import "src/style/common";

.wrapper {
  background: $orange;
  position: relative;
  z-index: 4;

  .background {
    width: 100vw;
  }

  .pink_bottle {
    position: absolute;
    top: 10vw;
    height: 58vw;
    width: 30vw;
    right: 2.8vw;
    z-index: 5;
  }

  .watermelon_text {
    position: absolute;
    right: 33.7vw;
    top: 35.7vw;
    width: 35.8vw;
    height: 30vw;
  }

  .lazyPeople {
    position: absolute;
    left: 2.3vw;
    width: 25vw;
    height: 31.5vw;
    cursor: pointer;
    transition: all 0.5s ease-out;
  }

  .lazy_people_animation {
    animation: up 3s ease-out;
    animation-fill-mode: forwards;
  }

  .union_pink {
    position: absolute;
    left: 6.3vw;
    width: 36.82vw;
    height: 21.35vw;
    opacity: 0;
    transition: all 0.5s ease-out;

    @include phone-down() {
      opacity: 1;
      width: 52.6vw;
      height: 30.5vw;
    }
  }

  .union_pink_show {
    width: 52.6vw;
    height: 30.5vw;
    opacity: 1;
    display: block;
  }

  .union_animation {
    animation: upUnion 3s ease-out;
    animation-fill-mode: forwards;
  }

  .vitamin_b {
    position: absolute;
    bottom: 4.86vw;
    right: 1.04vw;
    width: 15.42vw;
    height: 15.42vw;
    z-index: 5;
  }

  @keyframes up {
    from {
      bottom: 0
    }
    to {
      bottom: 13.2vw;
    }
  }

  @keyframes upUnion {
    from {
      bottom: 0
    }
    to {
      bottom: 41.5vw;
    }
  }
}
